body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container-login {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 20px 35px rgba(0,0,1,0.9);
    display: flex;
    width: 800px;
    overflow: hidden;
}
.left-side {
    flex: 1;
    padding: 40px;
    background-color: white;
}
.right-side {
    flex: 1;
    background-color: #6f42c1;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
}

.left-side h2 {
    text-align: center; /* Centers only the "LOGIN ACCOUNT" heading */
    width: 100%;
    margin-bottom: 3rem;
}
form label {
    font-size: 18px;
    display: block;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.forgot-password {
    text-align: right;
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
}
.sign-in-button {
    width: 100%;
    padding: 10px;
    background-color: #6f42c1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.welcome-message {
    text-align: center;
}
.welcome-message h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.welcome-message p {
    font-size: 16px;
    line-height: 1.5;
}